@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="display-4 text-center">Witaj</h1>
    <p>ZAL LAB Szkolenie Techniczne 2<br>Hubert Michna w67259, GL04<br>09.06.2024</p>
</div>
